.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  width: 30vmin;
  pointer-events: none;
}

.App-logo-marker {
  height: 3.5vmin;
  width: 3.5vmin;
  pointer-events: none;
}

.App-logo-small {
  height: 3.5vmin;
  width: 3.5vmin;
  pointer-events: none;
}

.App-logo-title {
  height: 15vmin;
  width: 80vmin;
  pointer-events: none;
}

.User-Image {
  height: 10vmin;
  width: 12vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin2 infinite 2s linear;
  } */
  .App-logo-marker {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
